.pt-4, .py-4 {
     /*padding-top: 1.5rem!important; */
     padding-top: 0px!important;
}

.toggle-handle {
    position: relative!important;
    margin: 0 auto!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    height: 100%!important;
    width: 0!important;
    border-width: 0 1px!important;
}

.toggle-handle {
    position: relative;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    width: 0;
    border-width: 0 1px;
}

a:hover{
    text-decoration: none;
}

.btn .btn-default{
	    background-color: #fff!important;
}
/*
select{
    -moz-appearance:none;
     -webkit-appearance:none; 
      appearance:none; 
}*/
   .hidelogo {
    
    display:none;
    color:#2196F3; 
    font-weight:600; 
    font-size:16px; 
    cursor: pointer;
    padding-top: 13px;

}




  .showlogo {
        padding-top: 13px;
    color:#2196F3; 
    font-weight:600; 
    font-size:16px; 
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#custom_tabs .tab .nav-tabs .nav-link {
    background: transparent;
    color: #4c9ec6;
    padding: .75rem 1rem;
    border: 0;
    font-weight: 10px;
    font-size: 17px;
}

#custom_tabs .tab .nav-tabs .nav-link.active {
    background: #fff;
    color: #E91E63;
     font-weight: 10px;
    font-size: 17px;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 3.0em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:2px 10px;
        border-bottom:none;
        background-color: #4d606e;
        color: #fff;
    }

    
    .adminFormLabel {
    font-family: "Merriweather Sans","Helvetica Neue",Helvetica,Arial,sans-serif!important;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
    display: block;
}

.adminFormUpload {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    min-height: 190px;
}

.mt10 {
    margin-top: 10px;
}

.adminFormUpload__icon {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: url(https://cdn1.weddingwire.in/assets/img/admin-emp/sprite-empty.svg) no-repeat scroll 50% -172px transparent;
    background-size: 140px;
    margin: 20px auto 0;
    width: 115px;
}


.adminFormUpload__button {
    padding: 20px;
    position: relative;
    overflow: hidden;
}


.adminFormUpload__button input[type=file] {
    opacity: 0;
    left: -9999px;
    position: fixed;
}



.btn-outline {
    font-size: 14px;
    line-height: 22.65247586px;
    display: inline-block;
    vertical-align: middle;
    background: 0 0;
    font-family: "Merriweather Sans","Helvetica Neue",Helvetica,Arial,sans-serif!important;
    color: #fff;
    font-weight: 400;
    outline: 0;
    text-align: center;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid #fff;
    cursor: pointer;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

.outline-red {
    color: #fb1b26;
    border: 1px solid #fb1b26;
}
.btn-outline:first-child, .btn-outline:only-of-type {
    margin-left: 0;
}

.btn-outline--red:hover, .outline-red:hover {
    color: #fff;
    background-color: #fb1b26;
}

.form-group {
    margin-bottom: 1.3rem;
}


.rating-stars1 ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars1 ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars1 ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars1 ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars1 ul > li.star.selected > i.fa {
  color:#FF912C!important;
}

/*.container_rat { margin:150px auto; max-width:728px;}*/
.container_rat ul {
  list-style: none;
  padding: 0;
}

.container_rat li {
  display: inline-block;
  font-size: 25px;
  color: #ccc;
  cursor: pointer;
}

.container_rat li.active, .container_rat li.hover { color: orange; }

.container_rat ul.hover li.active:not(.hover) { color: #ccc }
h1 { font-family:'Roboto Condensed'; color:#fff; margin-bottom:100px;}

/*kavita css start*/

.pull-right {
    float: right;
}
.wedding-vendor-manager .nav-tabs {
    margin-bottom: 40px;
}

.budget-tabs ul {
    display: inline-block;
}
.nav-pills, .nav-tabs {
    border: 0;
}

.white {
    background-color: #fff;
}
.padding {
    padding: 40px 60px;
}
* {
    font-family: 'Lato', sans-serif;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

* {
    font-family: 'Lato', sans-serif;
}.budget-tabs {
    text-align: center;
}
.wedding-vendor-manager .nav-tabs {
    margin-bottom: 40px;
}

.budget-tabs ul {
    display: inline-block;
}
.nav-pills, .nav-tabs {
    border: 0;
}
.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.budget-tabs ul a:first-child li {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.budget-tabs li {
    width: 200px;
    background-color: #f01f8e;
    display: inline-block;
    padding: 10px;
    margin: -2px;
    color: #fff;
    border: 2px solid #f01f8e;
    text-transform: uppercase;
}

*, :after, :before {
    box-sizing: border-box;
}
.budget-tabs ul a:last-child li {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.budget-tabs .active li {
    background-color: #fafafa;
    color: #000;
}
.budget-tabs li {
    width: 200px;
    background-color: #f01f8e;
    display: inline-block;
    padding: 10px;
    margin: -2px;
    color: #fff;
    border: 2px solid #f01f8e;
    text-transform: uppercase;
}
.vendors .img-div {
    height: 120px;
}

.vendors-list .img-div {
    position: relative;
    width: 100%;
    height: 180px;
    margin: 0 auto;
}
.vendors .img-div img {
    border-radius: 10px;
}

.vendors-list .img-div img {
    position: absolute;
    width: 100%;
    height: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.vendors .block-content {
    background-color: rgba(0, 0, 0, 0.51);
}

.vendors .block-content {
    padding: 18px;
    border-radius: 10px;
}
.vendors-list .block-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1901960784313726);
}
.vendors .icon-img {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.wedding-vendor-manager .block-content span.span1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #4caf50;
    border-top-left-radius: 5px;
}

.vendors-list .div span {
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 14px;
}
wedding-vendor-manager .block-content span.span1 i {
    padding-right: 2px;
    font-size: 12px;
}

.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
@media (min-width: 768px)
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.vendors .row1 {
    margin-bottom: 30px;
}
.wedding-vendor-manager .block-content span.span2 {
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.33);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
}

.vendors-list .div span {
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 14px;
}
.vendors h6 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 0px;
}

h6 {
    font-weight: 500;
}

.search-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000009c;
    border-radius: 10px;
    padding-top: 44px;
    display: none;
}
.vendors .block-content {
    background-color: rgba(0, 0, 0, 0.51);
}

.vendors .block-content {
    padding: 18px 0px;
    border-radius: 10px;
}
.img-div:hover .search-box {
    display: block;
}
.search-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000009c;
    border-radius: 10px;
    padding-top: 44px;
    display: none;
}
.center {
    text-align: center;
}
.vendors-list .div span {
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 14px;
}

.search-box span {
    font-size: 22px !important;
}
/*a:hover {
    text-decoration: none;
}
a:hover {
    color: #004a43;
    text-decoration: underline;
}*/

    .vendors-list .img-div {
    position: relative;
    width: 100%;
    height: 180px;
    margin: 0 auto;
}.vendors-list .img-div img {
    position: absolute;
    width: 100%;
    height: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}
.vendors-list .block-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1901960784313726);
}
.vendor-saved .content1 {
    background: rgba(0, 0, 0, 0.21);
}

.block-content .content1 {
    position: absolute;
    width: 100%;
    padding: 5px 10px;
    bottom: 0px;
}
.center {
    text-align: center;
}
@media (min-width: 768px)
.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.vendor-saved .content1 h6 {
    margin-bottom: 0px;
    color: #fff!important;
}

h6 {
    font-weight: 500;
}
.vendor-saved .content1 p {
    margin-bottom: 0px;
    color: #fff;
    font-size: 13px;
    margin-top: 10px;
}
.vendors-list .list-information {
    padding: 10px;
    border: 1px solid #f7f7f7;
}
.vendor-list-page .grid-view .info-div2 p {
    padding-top: 3px;
}

.vendors-list .list-information .info-div2 p {
    font-size: 14px;
}
.vendors-list .list-information p {
    margin-bottom: 0px;
}
.vendor-saved .info-div1 i {
    font-size: 12px;
    padding-right: 2px;
}

.vendor-list-page .fa-rupee-sign {
    font-size: 12px;
    padding-left: 8px;
}
.pull-right {
    float: right;
}
.vendors-list .div .discount {
    background-color: #5ba829;
}

.vendors-list .div span {
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 14px;
}
.vendor-saved .info-div1 i {
    font-size: 12px;
    padding-right: 2px;
}
.vendor-saved .info-div2.new p {
    line-height: 150%;
    margin-top: 10px;
    color: #777;
}
.list-information ul {
    margin-bottom: 0px;
}
.vendor-saved .rating ul li {
    display: inline-block;
    border-right: 0px solid transparent;
    color: #ff9800;
}
.vendor-saved .info-div3 {
    padding: 4px;
}
.vendor-saved .info-div3 p {
    margin-bottom: 0px;
    color: #ccc;
}
.vendor-saved .info-div3 p i {
    padding-right: 4px;
}
*, :after, :before {
    box-sizing: border-box;
}
        
ul {
    padding-inline-start: 0px;
}

dl, ol, ul {
    margin-top: 0;
}   


.vendors-list .info-div2 ul li {
    display: inline-block;
    border-right: 1px solid #f5f5f5;
    padding: 0px 3px;
    font-size: 14px;
}

@media (min-width: 768px)
.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.block-content .content1 {
    position: absolute;
    width: 100%;
    padding: 5px 10px;
    bottom: 0px;
}
.center {
    text-align: center;
}
#editbudget .modal-header, #addnewcategory .modal-header, .comman-modal .modal-header {
    padding: 20px;
    background: #f01f8e;
    color: #fff;
}

.wedding-vendor-manager-booked .list-information .fa-envelope {
    font-size: 20px;
    color: #FF9800;
}
.wedding-vendor-manager-booked .content1 h4 {
    margin-bottom: 0px;
    color: #fff;
    font-size: 14px;
}
    .total-budget .budget-img {
    position: relative;
    width: 55px;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.total-budget .budget-img img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.total-budget h5 {
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.total-budget .fa-rupee-sign {
    font-size: 22px;
    padding-right: 6px;
}
.btn:not(:disabled):not(.disabled), .custom-file-control:not(:disabled):not(.disabled):before {
    cursor: pointer;
}

.total-budget .btn-outline-success {
    height: auto;
    padding: 4px 8px;
    font-size: 12px;
    border-color: #5ba829;
    color: #ffffff;
    background-color: #5ba829;
}
.btn-outline-success.custom-file-control:before, .btn.btn-outline-success {
    border-color: currentColor;
    color: #4caf50;
    background-color: transparent;
    border: 1px solid #4caf50;
}
.total-budget .btn-outline-success i {
    padding-right: 4px;
}
.fa, .fas {
    font-weight: 900;
}
.total-budget .row {
    width: 60%;
    margin: 50px auto;
}
.total-budget {
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.total-budget .col-md-6:first-child {
    border-right: 1px solid #f5f5f5;
}
.total-budget ul li {
    list-style: none;
    color: #777;
}

    .planner-budget .tabcontent-padding {
    padding: 20px;
}
.planner-budget .tabcontent .tab-icon {
    position: relative;
    width: 32px;
    height: 32px;
    margin: 0 auto;
}
.planner-budget .tabcontent .tab-icon img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.planner-budget .tabcontent h4 {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
}
.planner-budget .row1 {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}
.planner-budget .tabcontent .row1 p {
    padding-left: 5px;
}
.planner-budget .tabcontent .row1 h6, .planner-budget .tabcontent .row1 p {
    display: inline-block;
}

.planner-budget .payment-table p, .planner-budget .tabcontent p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 14px;
    color: #777;
}

.planner-budget .tabcontent .row1 p i {
    font-size: 14px;
    padding-left: 5px;
}

.planner-budget .payment-table h6, .planner-budget .tabcontent h6 {
    margin-bottom: 2px;
}
.planner-budget .range-div {
    width: 40%;
    margin: 0 auto;
    margin-left: 30%;
    display: inline-block;
    margin-top: 15px;
    background: #E0E0E0;
    border-radius: 7px
}
.progress-bar-striped {
    background-image: linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);
    background-size: 1rem 1rem;
    border-radius: 7px;
}
.bmd-form-group {
    position: relative;
    padding-top: 1.75rem;
}
input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 16px;
    width: 100%;
    cursor: pointer;
    border-radius: 0;
    border-radius: 10px;
}
.planner-budget .table {
    margin-bottom: 0px;
}

.table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid rgba(0,0,0,.06);
}
.planner-budget thead {
    background-color: #f01f8e;
}
.planner-budget .table thead th {
    color: #fff;
}

.table thead th {
    font-size: .95rem;
    font-weight: 500;
    color: rgba(0,0,0,.54);
    border-top-width: 0;
    border-bottom-width: 1px;
}

#editbudget .modal-header, #addnewcategory .modal-header, .comman-modal .modal-header {
    padding: 20px;
    background: #f01f8e;
    color: #fff;
}
.design-tool .banner-bg .banner-img {
    position: relative;
    width: 100%;
    height: 80px;
    border: 2px solid #ccc;
}
.design-tool .banner-bg .banner-name {
    padding-left: 6px;
}

.wedding-website-tool4 .pages-list .pages-listing li:last-child {
    margin-bottom: 0px;
}

.wedding-website-tool4 .pages-list .pages-listing li {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fafafa;
    margin-bottom: 10px;
    cursor: pointer;
}
.wedding-website-tool4 .pages-list ul li {
    list-style: none;
}
.wedding-website-tool4 .pages-list .pages-listing li p {
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.design-tool .banner-bg .row1 {
    margin-bottom: 15px;
}

.design-tool .banner-bg .row {
    margin-right: 0px;
    margin-left: 0px;
}

.design-tool .pages-listing .col-md-11 p {
    padding-left: 0px;
}
.design-tool .banner-bg h6 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.design-tool .card-header {
    padding: 0px;
}

.design-tool #accordion .btn {
    margin-bottom: 0px;
    width: 100%;
    text-align: left;
    padding: 10px 15px;
}
.design-tool #accordion .btn p {
    margin-bottom: 0px;
}
#mySidenav1 #accordion .fa-heart {
    color: red;
    padding-right: 4px;
}
.collapse.show {
    display: block;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.design-tool #accordion #collapseOne .btn-secondary:not(:disabled):not(.disabled).active, .design-tool #accordion #collapseTwo .btn-secondary:not(:disabled):not(.disabled).active {
    background-color: #5ba829;
}

.design-tool #accordion #collapseOne .btn.btn-secondary, .design-tool #accordion #collapseTwo .btn.btn-secondary {
    color: #ffffff;
    background-color: #424242;
    border-color: #fff;
}
.design-tool #accordion #collapseOne .btn, .design-tool #accordion #collapseTwo .btn {
    padding: 0px;
    margin-bottom: 10px;
}
.design-tool #accordion .btn {
    margin-bottom: 0px;
    width: 100%;
    text-align: left;
    padding: 10px 15px;
        color: unset;
}

.design-tool #accordion .banner-img {
    position: relative;
    width: 100%;
    height: 70px;
}
.design-tool #accordion .banner-img img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.design-tool #accordion #collapseOne .col-md-6, .design-tool #accordion #collapseTwo .col-md-6 {
    padding-left: 4px;
    padding-right: 4px;
}
.design-tool #accordion #collapseOne .btn p, .design-tool #accordion #collapseTwo .btn p {
    margin-bottom: 0px;
    text-align: center;
    padding: 8px;
}

.design-tool .banner-bg .banner-img img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.design-tool #accordion #collapseOne span, .design-tool #accordion #collapseTwo span {
    position: absolute;
    right: 0;
    padding: 4px 6px;
    background: #FF9800;
}
.ripple-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    border-radius: inherit;
}

.design-tool #accordion .form-control {
       height: auto;
   }
/*side baar*/
    .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 215px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.wedding-website-tool4 .pages-list .pagename {
    padding: 15px 20px;
    background-color: #fafafa;
    border-bottom: 1px solid #f5f5f5;
}
.wedding-website-tool4 .pages-list .pagename p {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4px;
}
.wedding-website-tool4 .pages-list .border-bottom {
    border-bottom: 1px solid #ccc;
}

.wedding-website-tool4 .pages-list .pages-div {
    padding: 20px;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.wedding-website-tool4 .pages-div .btn {
    height: 45px;
}

.btn:not(:disabled):not(.disabled), .custom-file-control:not(:disabled):not(.disabled):before {
    cursor: pointer;
}
.wedding-website-tool4 .pages-div .btn i {
    padding-right: 6px;
}
.wedding-website-tool4 .pages-list .pages-div {
    padding: 20px;
}
.wedding-website-tool4 .pages-list .pages-div h6 {
    font-weight: 600;
    text-transform: uppercase;
}
.wedding-website-tool4 .pages-list .pages-listing .col-md-1, .wedding-website-tool4 .pages-list .pages-listing .col-md-10 {
    padding-right: 0px;
    padding-left: 0px;
}
.wedding-website-tool4 .pages-list .pages-listing .fa-circle {
    color: #7cae1b;
}
.wedding-website-tool4 .pages-list .pages-listing .col-md-1, .wedding-website-tool4 .pages-list .pages-listing .col-md-10 {
    padding-right: 0px;
    padding-left: 0px;
}

@media (min-width: 768px)
.col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

#mySidenav li p {
    margin-bottom: 0px;
    padding-left: 8px;
}

.wedding-website-tool4 .pages-list .pages-listing li p {
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fa, .fas {
    font-weight: 900;
}
#mySidenav li {
    list-style: none;
    padding: 12px 20px;
    font-size: 16px;
    border-bottom: 1px solid #f5f5f5;
}

.wedding-website-tool4 .pages-list .pages-listing li {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fafafa;
    margin-bottom: 10px;
    cursor: pointer;
}
/*add new page css*/
.wedding-website-tool4 .pages-list.page-type {
    display: none;
}

.wedding-website-tool4 .page-type .col-md-1, .wedding-website-tool4 .page-type .col-md-9, .wedding-website-tool4 .page-type .col-md-2, .wedding-website-tool4 .page-privacy .col-md-1, .wedding-website-tool4 .page-privacy .col-md-9, .wedding-website-tool4 .page-privacy .col-md-2 {
    padding-right: 0px;
    padding-left: 0px;
}
.wedding-website-tool4 .pagename .fa-angle-left {
    font-size: 14px;
}
.wedding-website-tool4 .page-type .pagename p {
    color: #000;
}

.wedding-website-tool4 .pages-list .pagename p {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4px;
}
.wedding-website-tool4 .pages-div.border-bottom p {
    margin-bottom: 0px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.wedding-website-tool4 .pages-div .card {
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.wedding-website-tool4 .pages-div .icon-img {
    position: relative;
    width: 32px;
    height: 32px;
    margin: 18px auto;
}
.wedding-website-tool4 .page-type h3 {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
}
.wedding-website-tool4 .page-type p {
    color: #fff;
    text-align: justify;
    margin-bottom: 0px;
        padding-right: 10px;
}

.bmd-form-group {
    position: relative;
    padding-top: 1.75rem;
}
.bmd-form-group .bmd-label-static, .bmd-form-group.is-filled .bmd-label-floating, .bmd-form-group .is-filled .bmd-label-floating, .bmd-form-group.is-focused .bmd-label-floating, .bmd-form-group .is-focused .bmd-label-floating {
    top: 1rem;
    left: 0;
    font-size: .75rem;
}

.bmd-form-group .custom-file-control, .bmd-form-group .form-control, .bmd-form-group input::placeholder, .bmd-form-group label {
    line-height: 1;
}
.wedding-website-tool4 .page-privacy .form-control:read-only {
    background-image: unset;
}

.wedding-website-tool4 .page-privacy .btn.btn-secondary {
    color: #6c757d;
    background-color: transparent;
    border: 1px solid #ccc;
}
.wedding-website-tool4 .page-privacy .btn {
    margin-bottom: 10px;
    text-align: left;
    height: auto;
    white-space: unset;
    padding: 15px;
    text-transform: unset;
}
.wedding-website-tool4 [type='radio'] {
    display: none;
}
.wedding-website-tool4 .page-privacy .btn p {
    margin-bottom: 8px;
}
.wedding-website-tool4 .page-privacy .btn .fa-circle {
    color: #7cae1b;
}

.wedding-website-tool4 .page-privacy .btn p.p1 {
    margin-bottom: 0px;
    line-height: 150%;
}
.form-control{
        border: 1px solid #ced4da;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
    .tool-menu-list {
    padding: 10px 40px;
    background-color: #E0E0E0;
}

.white {
    background-color: #fff;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.tool-menu-list ul {
    margin-top: 10px;
    margin-bottom: 10px;
}
.tool-menu-list a.active {
    color: #f01f8e;
}

.tool-menu-list ul a {
    padding: 4px 15px;
}
.tool-menu-list ul li {
    display: inline-block;
}
.tool-menu-list a.active {
    color: #f01f8e;
}
.tool-menu-list a{
    color: unset;
}
/*start*/

.wedding-website-tool2 {
    box-shadow: unset;
    background-color: #fafafa;
}

.second-navbar {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background-color: #fff;
    padding: 10px 25px;
}
.wedding-website-tool2 ul {
    margin-top: 8px;
    margin-bottom: 8px;
}

.second-navbar ul {
    margin-top: 0px !important;
}
.second-navbar li {
    display: inline-block;
}
.wedding-website-tool2 li a {
    padding: 18px;
}

.second-navbar li a {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
.wedding-website-tool2 ul li i {
    padding-right: 6px;
}
/*endss*/

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}
#theme .theme-img {
    position: relative;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}
#theme .theme-img img {
    position: absolute;
    width: 100%;
    height: 100%;
}
#theme p {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 15px;
}

#theme .nav {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 40px;
}
#theme .nav a.active {
    border-bottom: 2px solid #ccc;
}

#theme .nav a {
    color: unset;
    width: 80px;
    text-align: center;
    padding: 10px;
}
.tab-content>.active {
    display: block;
}

/*.tab-content>.tab-pane {
    display: none;
}*/
#theme .theme-image {
    border: 2px solid #ccc;
}
#theme .theme-image {
    position: relative;
    width: 100%;
    height: 200px;
}
#theme .theme-image img {
    position: absolute;
    width: 100%;
    height: 100%;
}
#theme .theme-image .content-theme {
    display: none;
}

/*.modal-header {
      color: #fff;   
}*/

#theme .theme-image:hover {
    border: 2px solid #f01f8e;
}
#theme .theme-image:hover .content-theme {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.19);
    display: block;
    padding-top: 80px;
}
.comman-modal.font-color h6 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 14px;
}
.font-color .color-div {
    width: 30px;
    height: 30px;
    background-color: red;
    margin-bottom: 15px;
}
.comman-modal.font-color h6 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 14px;
}
.comman-modal.font-color .font-family-list h5 {
    margin-bottom: 0px;
    padding: 10px;
    font-size: 14px;
    background-color: #EEEEEE;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}
.font-color .btn-group-toggle {
    max-height: 215px;
    overflow-y: auto;
}
.comman-modal.font-color .btn-secondary.active {
    background-color: #fafafa;
    color: #5ba829;
    border-color: transparent;
}
.font-color [type='radio'] {
    display: none;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.font-color .btn p {
    margin-bottom: 0px;
}
.comman-modal.font-color .btn-secondary.active .fa-check {
    display: block;
}

.comman-modal.font-color .btn-secondary .fa-check {
    display: none;
}
.comman-modal .font-color .btn-secondary {
    color: #545b62;
    background-color: #ffffff;
    margin-right: 0px !important;
    border: 1px solid #f5f5f5;
    border-radius: 0px;
}
/*.btn .btn-secondary .form-control*/
.comman-modal .form-control:read-only {
    background-image: unset;
    color: #545b62;
    background-color: #ffffff;
    margin-right: 0px !important;
    border: 1px solid #f5f5f5;
    border-radius: 0px;
  margin-left: 0px;
    margin-right: 0px;
}
.comman-modal .form-control:hover {
    color: #545b62;
}
.font-color .btn-group-toggle .row p {
    float: left;
    padding: 10px
}

.comman-modal .form-control:read-only {
    background-image: unset;
}
.font-color .btn-group-toggle .col-md-10 {
    padding-right: 0px;
    padding-left: 0px;
}
.font-color .btn-group-toggle {
    max-height: 215px;
    overflow-y: auto;
}
#backgrounddesign .btn {
    padding: 0px;
}

.comman-modal.font-color .btn-secondary.active {
    background-color: #fafafa;
    color: #5ba829;
    border-color: transparent;
}
#backgrounddesign .upload-image {
    position: relative;
    width: 100%;
    height: 80px;
}
#backgrounddesign .upload-image img {
    position: relative;
    width: 100%;
    height: 100%;
}
#backgrounddesign .btn.active .upload-content {
    display: block !important;
}
.modal-content .modal-body {
    padding: 20px 24px 24px;
}
#backgrounddesign .upload-content i {
    font-size: 12px;
    padding-top: 4px;
}

#backgrounddesign .upload-content {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #5ca628;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}
.sidenav .form1 {
    padding: 20px;
}
.bmd-form-group {
    position: relative;
    padding-top: 1.75rem;
}
.bmd-form-group .bmd-label-static, .bmd-form-group.is-filled .bmd-label-floating, .bmd-form-group .is-filled .bmd-label-floating, .bmd-form-group.is-focused .bmd-label-floating, .bmd-form-group .is-focused .bmd-label-floating {
    top: 1rem;
    left: 0;
    font-size: .75rem;
}

.bmd-form-group [class*=" bmd-label"], .bmd-form-group [class^=bmd-label] {
    position: absolute;
    pointer-events: none;
    transition: all .3s ease;
}

#mySidenav2 .form1 .p1 {
    text-transform: uppercase;
    color: #000;
}

#mySidenav2 .list-form .row {
    border: 1px solid #f5f5f5;
    padding: 8px;
    margin-bottom: 10px;
}
#mySidenav2 .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
}
#mySidenav2 .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}


#mySidenav2 input:checked + .slider {
    background-color: #5ba829;
}
#mySidenav2 .slider.round {
    border-radius: 34px;
}
#mySidenav2 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.checkbox label, .radio label, label {
    font-size: 1rem;
}
#personalise .btn {
    height: 42px;
}
.bmd-help, .text-muted {
    color: #6c757d!important;
}

.form-text {
    display: block;
    margin-top: .25rem;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}

#mySidenav3 .guest-list {
    cursor: pointer;
    color: #5ba829;
}
#mySidenav3 .guest-list i {
    padding-right: 4px;
}

.sidenav .form1 .btn {
    margin: 0px;
    height: 42px;
}

.btn:not(:disabled):not(.disabled), .custom-file-control:not(:disabled):not(.disabled):before {
    cursor: pointer;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.custom-control-label {
    margin-bottom: 0;
}

.padding {
    padding: 40px 60px;
}
.title-heading {
    margin-bottom: 0px;
    text-align: center;
    font-family: 'CataneoBT', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.heading-border {
    width: 80px;
    height: 2px;
    background-color: #FF9800;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.activity-page .activity-tabs .nav {
    width: 525px;
    margin: 0 auto;
}
.activity-page .activity-tabs .nav a.active {
    border-bottom: 2px solid #f01f8e;
}

.activity-page .activity-tabs .nav a {
    text-align: center;
    width: 175px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: unset;
}
.tab-content>.active {
    display: block;
}
.activity-page .activity-tabs .width60 {
    width: 60%;
    margin: 0 auto;
}
.activity-page .activity-tabs .center {
    padding: 25px;
}
.activity-page .activity-tabs .center .zareena{
    color: #458c17;
    font-size: 32px;
    margin-bottom: 10px;
}
.activity-page .activity-tabs .second-section .p1 {
    margin-bottom: 5px;
    color: #777;
}

.activity-page .activity-tabs .second-section .p2 {
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
}
.activity-page .activity-tabs .width60 .row p {
    margin-bottom: 0px;
}.activity-page .activity-tabs .width60 .row p {
    margin-bottom: 0px;
}

.activity-page .activity-tabs .addone {
    color: #f01f8e;
}
.wedding-website-tool2 {
    box-shadow: unset;
    background-color: #f5f5f5;
}

.gray {
    background-color: #f0f0f0;
}
.wedding-website-tool3 .banner-img {
    position: relative;
    width: 100%;
    height: 380px;
}
.wedding-website-tool3 .banner-img img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.wedding-website-tool3 .banner-img .banner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.wedding-website-tool3 .banner-img .banner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.2); */
}
.wedding-website-tool3 .banner-img .banner-content .center {
    margin-top: 120px;
}
.wedding-website-tool3 .banner-img .banner-content p {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.wedding-website-tool3 .banner-img .banner-content p, .wedding-website-tool3 .banner-img .banner-content h4 {
    color: #fff;
}

.wedding-website-tool3 .banner-img .banner-content h4 {
    font-family: 'CataneoBT', sans-serif;
    font-weight: 600;
    font-size: 45px;
}

.wedding-website-tool3 .banner-img .banner-content p, .wedding-website-tool3 .banner-img .banner-content h4 {
    color: #fff;
}
.wedding-website-tool3 .fa-heart {
    padding-right: 8px;
    padding-left: 8px;
    color: red;
}
.fa-heart:before {
    content: "\f004";
}
.wedding-website-tool3 .fa-heart {
    padding-right: 8px;
    padding-left: 8px;
    color: red;
}

.wedding-website-tool3 .banner-img .upload-photo {
    position: absolute;
    right: 0;
    background: rgba(0, 0, 0, 0.3411764705882353);
    padding: 7px 17px;
    border-bottom-left-radius: 12px;
}
.wedding-website-tool3 .banner-img .upload-photo p {
    margin-bottom: 0px;
    color: #fff;
}
.wedding-website-tool3 .banner-img .upload-photo p i {
    padding-right: 6px;
}

.tool-pages .div-bordered {
    border: 1px solid transparent;
}

.tool-pages .width60 {
    width: 75%;
    margin: 0 auto;
}
.tool-pages .edit-div {
    display: none;
}

.tool-pages .edit-div .btn-dark .fa-pencil-alt {
    padding-right: 4px;
}
.tool-pages .tool-padding {
    padding: 40px;
}
.tool-pages .div-bordered:hover, .tool-pages .div-bordered1 {
    border: 1px dashed #777;
    background-color: #fafafa;
}
.tool-pages .div-bordered:hover .edit-div, .tool-pages .div-bordered1 .edit-div {
    display: block;
}


.tool-pages .div-bordered1 i {
    padding-right: 10px;
}
.tool-pages .upload-img-div {
    border: 2px solid #E0E0E0;
    background-color: #fafafa;
    height: 200px;
    padding: 40px;
}
.tool-pages .upload-img-div .upload-img {
     position: relative; 
    width: 90px;
    height: 90px;
    margin: 0 auto;
}
.tool-pages .upload-img-div .upload-img img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.tool-pages .upload-img-div h6 {
    text-align: center;
    margin-top: 15px;
}
.fa-camera:before {
    content: "\f030";
}

.tool-pages .textarea-div .row1 {
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid rgba(0, 0, 0, 0.25882352941176473);
    margin-top: 15px;
}
.tool-pages .textarea-div .col-md-1 p {
    text-align: center;
    margin-bottom: 0px;
    padding: 6px;
    color: #000;
    font-weight: 600;
}


.tool-pages .textarea-div .col-md-1 {
    padding-right: 0px;
    padding-left: 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.25882352941176473);
}
.tool-pages .textarea-div .italic {
    font-family: initial;
    font-style: italic;
}

.tool-pages .textarea-div .bmd-form-group {
    padding-top: 0px;
}

.bmd-form-group {
    position: relative;
    padding-top: 1.75rem;
}
.tool-pages .textarea-div textarea {
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.25882352941176473);
    padding: 12px;
    border-top: 0px solid transparent;
}


.tool-pages .btn-grp {
    margin-top: 20px;
}
.social-share {
    position: fixed;
    right: 0;
    z-index: 999;
    margin-top: 24vh;
}
.social-share li {
    list-style-type: none;
    margin-bottom: 10px;
}
.social-share .social-image {
    position: relative;
    width: 40px;
    height: 40px;
}
.social-share .social-image img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content {
    /* padding: 1.5rem; */
}